.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 5s linear;
  height: 150px;
}

.App-header {
  background-color: #223;
  height: 200px;
  padding: 40px;
  color: white;
}

.App-intro {
  font-size: larger;
}

.App-container{
  border: solid;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
