@import url('https://fonts.googleapis.com/css?family=Copse|Lato:700');

.App{
	text-align: center;
}

.App-logo{
	animation: App-logo-spin infinite 5s linear;
	height: 150px;
}

.App-header{
	font-family: 'Lato', sans-serif;
	background-color: #223;
	height: 300px;
	padding: 40px;
	color: white;
}

.App-intro{
	font-size: larger;
}

.App-Body{
	font-family: 'Lato', sans-serif;
}

.App-Avatar{
	height: 180px;
}

.Comment{
	border-radius: 10px 10px 10px 10px;
	border: solid;
	width: 550px;
	height: 250px;
	margin: 40px auto;
	padding: 30px;
	border-width: 2px;
}

.Comment-text{
	margin-top:60px;
	font-family: 'Copse', serif;
	font-size: 20px;
}

.Comment-date{
	margin: 10px auto;
}

.UserInfo-name{
	font-family: 'Copse', serif;
	font-weight: bold;
	margin: 10px;
}

@keyframes App-logo-spin{
	from {transform: rotate(0deg);}
	to{transform: rotate(360deg);}
}